@model APPMVC.NET.Models.Product
@{
    var product = ViewData["product"] as Product;
}
<p>@ViewData["Title"]</p>
<div class="card bg-danger text-white">
    <h1 class="card-header">@product.Name</h1>
    <div class="card-body">
        <p class="card-text">Giá sản phẩm: @product.Price</p>
    </div>
</div>