@model APPMVC.NET.Models.Product

<div class="card bg-danger text-white">
    <h1 class="card-header">@Model.Name</h1>
    <div class="card-body">
        <p class="card-text">Giá sản phẩm: @Model.Price</p>
    </div>
</div>
<p class="btn btn-danger">
@ViewData["key"]
</p>